
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css')}}">

</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-3">Available Courses</h2>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>CRN</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                {% for course in available_courses %}
                <tr>
                    <td>{{ course[0] }}</td>
                    <td>{{ course[1] }}</td>
                    <td>{{ course[2] }}</td>
                    <td>{{ course[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
       </table>
    <a href="{{ url_for('menu') }}">Back to Menu</a>
    </div>
</body>
</html>
