
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <meta name="description" content="Student Registration App">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
<div class="container">
    <h1>Student Registration</h1>
    <h2>Welcome to the Student Registration System</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}

    <form method="POST">
        <label for="student_id">Student ID:</label>
        <input type="text" id="student_id" name="student_id" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
