<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css')}}">
    <title>Register for a Course</title>
</head>
<body>
    <h1>Register for a Course</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="POST">
        <label for="course_id">Course ID:</label>
        <input type="text" id="course_id" name="course_id" required>
        <br>
        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('menu') }}">Back to Menu</a>
</body>
</html>